* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover {
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.logo {
    margin-top: auto;
    height: 150px;
    width: 150px;
    margin-right: auto;
    margin-bottom: auto;
}
.main {
    background-color: #1F2937;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
}

.header {
    height: 300px;
    background-color: #1F2937;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links {
    padding: 10px 25px;
    display: inline-block;
    justify-content: center;
    font-size: 18px;
}
#hero {
    height: 600px;
    background-color: #6C85DE;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.banner {
    align-self: right;
    order: 2;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 50px;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    max-height: 100%;
}
.intro {
    flex: 1;
    display: inline-block;
    text-align: center;
    font-family: 'Fira Code'; 
    font: bold;
    order: 1;
    justify-content: center;
}
#about {
    height: 1000px;
    background-color: #86A2B3;
}
.aboutme {
    padding-top: auto;
    padding-bottom: auto;
    text-align: center;
}

#footer {
    height: 1000px;
    background-color: #72A0C1;
    text-align: center;
}
.contacts {
    display: flex;
    justify-content: flex-end;
}
.info {
    flex: 1;
    border-radius: 25px;
    border: 2px solid darkcyan;
    padding: 20px; 
    width: 200px;
    height: 150px;  
}
li {
    list-style-type: none;
}

